h1 {
    display: flex;
    justify-content: center;
}

h2{
    display: flex;
    justify-content: center;
}

ul{
        list-style-type: none;
        display: inline-flex;   
}

img{
    height: 350px;
    margin-left: 500px;
}


summary{    
        margin-top: 86px;  
}

form {
        display: flex;
        justify-content: center;
        margin-top: 159px;
        margin-bottom: 259px;
        
    }



footer {
    text-align: center;
    padding: 5px;
    background-color: #abbaba;
    color: #000;
}